// .category_mobile_search{
//     margin-top: 20px;
//     margin-bottom: 40px;
//     height: 35.2px;
//     border: solid 1px #505050;
//     padding: 7.6px 15.6px 8.6px 188.7px;
//     border-radius: 26px;
//     justify-content: center;
//     align-items: center;
//     input{
//         border: none;
//         width: 130%;
//         font-size: 16px;
//         font-weight: normal;
//         font-stretch: normal;
//         font-style: normal;
//         line-height: normal;
//         letter-spacing: 1.28px;
//         text-align: right;
//         color: #505050;
//     }
// }

.search_container_mobile{
    // width: 35%;
    height: 60px;
    border-radius: 26px;
    position: relative;
    padding: 20px;
  }


  .search_input_mobile{
    width: 85%;
    height: 60px;
    display: block;
    border-radius: 26px;
    padding-right: 75px;
    font-size: 20px;
    outline: none;
    border: none;
    border: solid 1px #505050;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 1.28px;
    text-align: right;
  
  }
  .search_button_mobile{
    margin-top: 3px;
    position: absolute;
    right: 0;
    top: 0;
    width: 100px;
    height: 100%;
    background: none;
    border: none;
  }