.category_mobile_search{
    margin-top: 20px;
    margin-bottom: 40px;
    height: 35.2px;
    border: solid 1px #505050;
    padding: 7.6px 15.6px 8.6px 188.7px;
    border-radius: 26px;
    justify-content: center;
    align-items: center;
    input{
        border: none;
        width: 130%;
        font-size: 16px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: 1.28px;
        text-align: right;
        color: #505050;
    }
}