.error_page_container{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  background-color: #c6e4f8;
  object-fit: cover;
  
  img{
    width: 100%;
    object-fit: cover;
  }
}

.error_content{
  position: absolute;
  top: 45%;
  right: 40%;
  text-align: center;
}